body {
  background: #f1f2f6;
  margin: 0 auto;
  color: #6f6f6f;
  font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif;
}
.nav,
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.header {
  height: 100px;
  color: #b7262d;
  font-size: 30px;
}
.nav-wrapper {
  background: #b7262d;
  height: 45px;
  line-height: 45px;
  color: #fff;
}
.title {
  font-size: 40px;
  color: #555;
  margin: 24px 0px;
}
.main {
  background: #fff;
  color: #808080;
  padding: 5px;
}
.main .module,
.main .version {
  font-size: 12px;
  background: #f7f7f7;
  padding: 0px 14px;
  overflow: hidden;
}
.main .module {
  border-bottom: 1px solid #e2e2e2;
}
.main .module > ul {
  margin: 18px 0px 10px;
}
.main .module > ul > li {
  margin: 0 0 18px;
  cursor: pointer;
}
.main .module > ul > li:hover {
  color: #b7262d;
}
.main .module > ul > li:hover .popmenu {
  display: block;
}
.main .module .module-item .pipe {
  margin: 0 14px 0 0;
}
.main .module .module-item .popmenu {
  margin-left: 2px;
  min-width: 92px;
  display: none;
}
.main .version ul {
  margin: 30px 0 24px;
}
.main .status {
  height: 154px;
  padding: 0 72px 0 36px;
}
.main .status .status-btn-list {
  overflow: hidden;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  top: 34px;
}
.main .status .status-btn-list li {
  list-style: outside none none;
  float: left;
  margin: 0 60px 0 0;
}
.main .status .status-btn-list li:last-child {
  margin-right: 0;
}
.main .status .status-btn-list li a {
  display: block;
  height: 86px;
  width: 59px;
  font-size: 14px;
  color: #808080;
  text-decoration: none;
  text-align: center;
}
.main .status .status-btn-list li a span {
  position: relative;
  top: 70px;
}
.main .status .btn-feedback {
  float: right;
  display: block;
  width: 160px;
  height: 47px;
  line-height: 47px;
  color: #fff;
  font-size: 24px;
  background: #b7262d;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 53.5px;
}
.main .buglist {
  background: #f7f7f7;
  font-size: 14px;
  padding: 10px 15px 20px;
}
.main .buglist table > thead {
  font-size: 12px;
  text-align: left;
}
.footer {
  font-size: 12px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.bug-form {
  /*
    ul {
        margin: 0;
        padding: 12px;
    }
    li {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #e2e2e2;
    }
    */
}
.bug-form input,
.bug-form select,
.bug-form textarea {
  font-family: "Microsoft YaHei", SimHei, Verdana, Arial, sans-serif;
  font-size: 16px;
}
.bug-form input,
.bug-form select {
  height: 30px;
  line-height: 30px;
  border: 1px solid #E1E1E1;
  width: 193px;
  color: #4d4d4d;
  padding: 0 12px 0;
  padding: 0\9;
}
.bug-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/img/select_arrow_down.png") no-repeat 98% 50%;
  background: none\9;
  +background: "none";
  _background: "none";
}
.bug-form textarea {
  border: 1px solid #E1E1E1;
  padding: 10px;
  width: 80%;
}
.bug-form table {
  background: #f7f7f7;
}
.bug-form table tr td:nth-child(odd) {
  text-align: right;
  width: 84px;
}
.bug-form table tr td:nth-child(even) {
  text-align: left;
}
.form-field {
  background: #f1f2f6;
  padding: 12px;
}
.form-field li {
  list-style: outside none none;
  padding: 14px 0px;
}
.form-field li label {
  display: inline-block;
  width: 84px;
  text-align: right;
  font-size: 18px;
  color: #4d4d4d;
}
.form-field li label + input,
.form-field li label + select,
.form-field li label + textarea {
  margin: 0 0 0 20px;
}
.form-field li .l-column {
  width: 50%;
  float: left;
}
.form-field li .r-column {
  margin-left: 50%;
}
input.btn-bug-submit {
  display: block;
  width: 160px;
  height: 48px;
  color: #fff;
  font-size: 24px;
  background: #b7262d;
  border: none;
  margin: 50px auto 35px;
}
.status-new {
  background: url('/img/status_new.png') no-repeat 0 0;
}
.status-new:hover {
  background-image: url('/img/status_new_hover.png');
}
.status-waiting {
  background: url('/img/status_waiting.png') no-repeat 0 0;
}
.status-waiting:hover {
  background-image: url('/img/status_waiting_hover.png');
}
.status-processing {
  background: url('/img/status_processing.png') no-repeat 0 0;
}
.status-processing:hover {
  background-image: url('/img/status_processing_hover.png');
}
.status-done {
  background: url('/img/status_done.png') no-repeat 0 0;
}
.status-done:hover {
  background-image: url('/img/status_done_hover.png');
}
.category-text {
  color: #b7262d;
}
ul.horizontal-list {
  margin: 0;
  padding: 0;
}
ul.horizontal-list:before,
ul.horizontal-list:after {
  content: " ";
  display: table;
}
ul.horizontal-list:after {
  clear: both;
}
ul.horizontal-list > li {
  list-style: outside none none;
  float: left;
  padding: 0px 0px 0px 14px;
}
ul.horizontal-list > li:first-child {
  padding-left: 0px;
}
ul.horizontal-list > li:last-child {
  border-right: none;
}
table.table {
  width: 100%;
}
table.table th {
  height: 28px;
  line-height: 28px;
}
table.table tr {
  height: 28px;
  line-height: 28px;
}
table.table th,
table.table tr > td {
  border-bottom: 1px solid #e2e2e2;
  padding: 8px;
}
table.table th:last-child > td,
table.table tr:last-child > td {
  border-bottom: none;
}
.form-control {
  padding: 14px 0px;
}
.form-control label {
  display: inline-block;
  width: 84px;
  text-align: right;
  font-size: 18px;
  color: #4d4d4d;
}
.form-control label + input,
.form-control label + select,
.form-control label + textarea {
  margin: 0 0 0 20px;
}
.upload-block {
  padding: 20px 10px;
}
.upload-block img {
  width: 161px;
  height: 150px;
  margin: 0 0 24px 0;
}
.upload-block a {
  display: block;
  font-size: 24px;
  color: #7f7f7f;
  background: #ccc;
  width: 160px;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  text-align: center;
}
.popmenu {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 1px solid #d1d1d1;
  background: #fff;
  color: #808080;
}
.popmenu > li {
  list-style: outside none none;
  height: 29px;
  line-height: 29px;
  padding: 0 8px;
}
.popmenu > li:hover {
  background: #EDEDED;
  color: #B7262D;
  cursor: pointer;
}
.dropdown-holder {
  font-size: 14px;
  color: #4d4d4d;
  width: 193px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e1e1e1;
  background: url('/img/select_arrow_down.png') no-repeat 173px 50%;
  display: block;
  text-decoration: none;
}
.dropdown-holder:hover {
  background-image: url('/img/select_arrow_up.png');
}
.dropdown-holder > span {
  margin: 0 7px;
}
.menutree {
  position: absolute;
  border: 1px solid #d1d1d1;
  background: #fff;
  color: #808080;
  min-width: 193px;
}
.menutree ul {
  margin: 0;
  padding: 0;
}
.menutree li {
  list-style: outside none none;
  height: 33px;
  line-height: 33px;
  border-bottom: 1px #e2e2e2 solid;
}
.menutree li a {
  text-decoration: none;
  display: block;
  color: #808080;
  margin: 0 8px;
}
.menutree li a:hover {
  color: #B7262D;
  cursor: pointer;
}
.menutree li:hover {
  background: #EDEDED;
}
.menutree li:hover .submenu {
  display: block;
}
.menutree li:last-child {
  border-bottom: none;
}
.menutree .submenu {
  position: relative;
  top: -100%;
  left: 100%;
  border: 1px solid #d1d1d1;
  display: none;
  background: #fff;
}
.menutree .submenu > li {
  list-style: outside none none;
  padding: 0 8px;
  background: #fff;
}
.menutree .submenu > li:hover {
  color: #B7262D;
  cursor: pointer;
}
.menutree .submenu > li:first-child {
  position: relative;
}
.menutree .submenu > li:first-child:before,
.menutree .submenu > li:first-child:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.menutree .submenu > li:first-child:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}
.menutree .submenu > li:first-child:before {
  border-color: rgba(209, 209, 209, 0);
  border-right-color: #d1d1d1;
  border-width: 11px;
  margin-top: -11px;
}
.select-module {
  background-position: 153px 50%\9;
}
.select-module .menutree {
  margin-left: -1px;
  display: none;
  position: relative;
  z-index: 100;
}
.select-module:hover .menutree {
  display: block;
}
